
<!DOCTYPE html>
		<html>
		<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		
		<title>AlloVélo</title>
		</head>
    <body>
		
		<h1 align = "center">
		Welcome to AlloVélo
		</h1>
		<p align = "center"> AlloVélo shows you the Bixi pickup prediction by neighborhood, hour by hour. Enjoy!</p>
    
	<div class = 'content-section'>
		<form method="POST" action = "">
			{{form.hidden_tag()}}
			<fieldset class = "form-group">
				<legend class = "border-bottom mb-10"> Enter Date </legend>
				<div>
					{{form.entrydate.label(class = "form-control-label")}}
					{{form.entrydate(class = "form-control form-control-sm")}}
				</div>

			</fieldset>
			<div class = "form-group">
				{{form.submit(class = "btn btn-outline-info")}}
			</div>
		</form>
	</div>
	<div>
		<a href="https://plot.ly/~nediyonbe/6/?share_key=ePGgxA3ti5B3TL8tDtnlkc" target="_blank" title="Bixi_Pickup_Demands" style="display: block; text-align: center;"><img src="https://plot.ly/~nediyonbe/6.png?share_key=ePGgxA3ti5B3TL8tDtnlkc" alt="Bixi_Pickup_Demands" style="max-width: 100%;width: 800px;"  width="800" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
		<script data-plotly="nediyonbe:6" sharekey-plotly="ePGgxA3ti5B3TL8tDtnlkc" src="https://plot.ly/embed.js" async></script>
	</div>
		</html>
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

 </body>